body{
    background-color: white;
    color: #00AEEF;
    border: 3px solid #00AEEF;
    font-family: sans-serif;
}

.navigation-container{
    display: grid;
    line-height: 3rem;
    width: 100%;
    grid-template-columns: repeat(5,20%);
    border-bottom: 2px solid #00AEEF;
}

.navigation-container>div{
     text-align: center;
     text-anchor: middle;
}

.lnk{
    border-left: 3px solid #00AEEF;
}

.home-container{
    height: 9rem;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0 auto;
}

.home-container div{
    text-align: center;
    border-bottom: 2px solid #00AEEF;
}

.home-container div:first-child {
    border-right: 2px solid #00AEEF;
}

.team-container{
    width: 90%;
    margin: 0 auto;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-container>div[id^="#t"]{
    border: 2px solid #00AEEF;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    text-align: center;
}

div[id^="#t"]:hover{
    color: white;
}

.team-item:first-child:hover{
    background-color: #00AEEF;
}

.team-item:nth-child(2):hover{
    background-color: #0000FF;
}

.team-item:last-child:hover{
    background-color: #FF00FF;
}

.about-container{
    width: 90%;
    margin: 0 auto;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 15px;
    padding-bottom: 30px;
}

.about-item{
    border: 2px solid #00AEEF;
    border-radius: 10px;
    width: 100px;
    height: 70px;
    margin: 0 auto;
    text-align: center;
}

.about-item:hover{
    background-color: #00AEEF;
    color: white;
}

.contact-container{
    width: 100%;
    border-top: 2px solid #00AEEF;
    text-align: center;
    font-size: 25px;
}

img{
    height: 150px;
    width: 150px;
    object-fit: fill;
    justify-items: center;
}

button{
    color: #00AEEF;
    height: 40px;
    border-radius: 30px;
    border-width: 0px;
}

button:hover{
    background-color: #00AEEF;
    color: white;
}

a{
    color: #00AEEF;
    text-decoration: none;
    margin: 0 auto;
}